/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo::before {
    content: url('./logo-p-shape.svg');
    background: rgb(98,118,255);
    background: linear-gradient(135deg, rgba(98,118,255,1) 0%, rgba(79,101,249,1) 35%, rgba(48,71,239,1) 100%);
    display: flex;
    border-radius: 48px;
    width: 48px;
    height: 48px;
}

.logo::after {
    content: 'PrioSort';
    margin-left: 5px;
    font-size: 28px;
    font-weight: 700;
}

.btn {
    height: 48px;
    padding: 0px 20px;
    border-radius: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.grey {
    background-color: rgb(244, 245, 246);
}

.text-dark-grey {
    color: rgb(157, 157, 160);
}

.purple {
    background: rgb(98, 118, 255);
    background: linear-gradient(160deg, rgb(139, 154, 252) 0%, rgb(106, 126, 255) 35%, rgba(48,71,239,1) 100%);
    box-shadow: 0px 3px 3px rgba(48,71,239, 0.3);
    color: rgb(255, 255, 255);
    padding: 2.4px 22.4px;
}

.purple:hover {
    border: 3px solid rgb(98,118,255);
    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    padding: 0 20px;
}

.purple-outline {
    border: 3px solid rgb(98,118,255);
    height: 48px;
}

.purple-outline:hover {
    background: rgb(98, 118, 255);
    background: linear-gradient(160deg, rgb(139, 154, 252) 0%, rgb(106, 126, 255) 35%, rgba(48,71,239,1) 100%);
    box-shadow: 0px 3px 3px rgba(48,71,239, 0.3);
    color: rgb(255, 255, 255);
    border: none;
    padding: 0 22.4px;
}

.banner {
    text-align: center;
    border-radius: 20px;
}

.banner article {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0px 100px;
    position: relative;
}

.banner article::before {
    content: url('./select-task.svg');
    position: absolute;
    left: -137.5px;
    bottom: 24px;
}

.banner article::after {
    content: url('./task-selected.svg');
    position: absolute;
    right: -137.5px;
    bottom: 24px;
}

.banner h1, .banner h1 em {
    font-size: 3.875rem;
    font-weight: 500;
}

.banner p {
    max-width: 350px;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}