* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    line-height: 2;
    opacity: 0.9;
    position: relative;
    top: 70px;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

nav ul li {
    list-style: none;
    margin: 0 8px;
}

nav ul li a {
    color: seashell;
}

img.logo {
    width: auto;
    height: 50px;
    margin-left: 10px;
}

main {
    width: 1200px;
    margin: 0 auto;
}

#mission {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-text {
    background-color: black;
}

#featured-tea {
    margin: 60px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .card-img {
    margin: 20px;
    line-height: 1;
}

.gallery .card-img img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

#locations {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#locations h2 {
    line-height: 1;
    margin-bottom: 15px;
}

.location-cards {
    display: flex;
}

.location-card {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 0px 20px;
}

.location-card h3, .location-card span {
    line-height: 1;
    padding: 24px 0;
}

.contact-us {
    display: flex;
    flex-direction: column;
    height: 200px;
    line-height: 1;
    justify-content: space-around;
}

.copyright {
    text-align: left;
    margin: 0 20px;
    padding-bottom: 10px;
}